.color_cafe{
  color: #3d1300;
  font-weight: bolder;
}

.vertical{
  align-self: center;
}

.tamanio_icono{
  width: 30px;
  height: 30px;
}

.gradiente_marron{
  background: rgb(208,161,79);
  background: radial-gradient(circle, rgba(208,161,79,1) 0%, rgba(38,24,0,1) 100%);
}

.borde_navegacion{
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.tamanio_contador{
  height: 40px;
  width: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.posicion_loading{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

}

.tamanio_img_carrito{
  width: 350px;
  height: 350px;
}

.item_cart{
  max-width: 1000px;
  margin-left: 0rem;
}